body {
  background-color: #86c5e0;
  font-family: 'Segoe UI', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.contenedor {
  background: #d0eee8;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.vidas {
  color: darkred;
  font-weight: bold;
}

input {
  display: block;
  margin: 10px auto;
  padding: 8px;
  width: 80%;
  border-radius: 5px;
  border: 1px solid #aaa;
}

button {
  background-color: #3e914b;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.correcto {
  color: green;
}

.incorrecto {
  color: red;
}

.popup {
  display: none;
  position: fixed;
  top: 0; left: 0;
  width: 100vw; height: 100vh;
  background: rgba(0,0,0,0.6);
  justify-content: center;
  align-items: center;
}

.popup-contenido {
  background: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}
